<section>
    <div class="container-fluid">
        <div class="row">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Add New Image</mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                  </mat-expansion-panel-header> <hr>
                  <div class="container">
                    <form [formGroup]="galleryForm" (ngSubmit)="galleryForm.valid && setImageData($event)" novalidate>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Full Title</mat-label>
                                <input matInput formControlName="title" [(ngModel)]="tips.title" placeholder="Enter full Title..." required>
                                <mat-error>Title must b required.</mat-error>
                            </mat-form-field><br>
                            <mat-form-field>
                                <mat-label>Select an Category</mat-label>
                                <mat-select formControlName="categoryname" (click)="getCategory()" [(ngModel)]="tips.categoryname">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let cate of category" value="{{cate.category}}">{{cate.category}}</mat-option>
                                </mat-select>
                                <mat-error>Category must b required.</mat-error>
                            </mat-form-field><br>
                            <div class="col-md-6">
                                <div class="custom-file">
                                    <input type="file" (change)="selectFile($event)" formControlName="image" [(ngModel)]="tips.image" class="custom-file-input" id="validatedCustomFile" required>
                                    <label class="custom-file-label alert-danger" *ngIf="!upload" for="validatedCustomFile">{{imagename}}</label>
                                    <label class="custom-file-label alert-success" *ngIf="upload" for="validatedCustomFile">{{imagename}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!galleryForm.valid">Register</button>
                            </div>
                        </div>
                    </form>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
        <div class="row mt-4">
            <table mat-table [dataSource]="imagelist" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>
              <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef> Image Name </th>
                <td mat-cell *matCellDef="let element"><a mat-button href="https://chetanclinic.com/en-img/upload/{{element.filename}}" target="blank">View Image</a> </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
              </ng-container>
              <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> DELETE </th>
                <td mat-cell *matCellDef="let element"><button mat-button (click)="deleteimage(element.id)"><mat-icon>delete_outline</mat-icon></button></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
    </div>
</section>